<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart_selenium_starter-2">
    <test name="testCas01">
        <classes>
            <class name="demo.TestCases"/>
        </classes>
    </test>
    <test name="testCas02">
        <classes>
            <class name="demo.TestCases"/>
        </classes>
    </test>
    <test name="testCas03">
        <classes>
            <class name="demo.TestCases"/>
        </classes>
    </test>
</suite>